@import "webflow-breakpoints";
@import "variables";

body {
  &.body-freeze {
    overflow: hidden;
    height: 100vh;
  }
}

@media screen and (max-width: $break-tablet) {
  br {
    display: none;
  }
}

ol.pagination {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 200;
  font-family: "Noe Display", serif;
  color: $color-orange;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  counter-reset: item;
  list-style-type: none;

  &:hover {
    color: $color-orange;
  }
  li {
    transition: all 300ms;
    transform: translate(50%, 0);

    &:before {
      content: counter(item, decimal-leading-zero) " ";
      counter-increment: item;
      color: #ccc;
      mix-blend-mode: difference;
    }
    &:hover:before {
      color: $color-orange;
    }

    a {
      padding-left: 2rem;
      margin-left: -2rem;
      text-decoration: none;
      transition: all 300ms;
      opacity: 0;
      color: $color-orange;

      &:before {
        content: "";
        display: inline-block;
        border-top: 1px solid $color-orange;
        width: 3rem;
        margin: 0 1rem;
        transform: translate(0, -0.25rem);
      }
    }
    &.active {
      transform: translate(0, 0);

      &:before {
        color: $color-orange;
        mix-blend-mode: normal;
      }

      a {
        opacity: 1;
      }
    }
  }
  @media (max-width: $break-tablet) {
    display: none;
    color: #fff;
  }
  body.body-scrollify-tabs & {
    display: flex;
    position: relative;
    transform: none;
    list-style-type: none;
    padding: 0;
    left: 0;
    right: auto;
    top: auto;
    grid-gap: 0;

    li {
      transform: none;
      margin-right: 4rem;

      &:before {
        content: none;
        display: none;
      }
      a {
        opacity: 1;
        color: #999;
        &:before {
          content: none;
          display: none;
        }
      }
      &.active {
        a {
          color: $color-orange;
        }
      }

      &:last-child {
        margin: 0;
      }
    }
  }
  body.body-nopagination & {
    display: none;
  }
}
body.body-scrollify-tabs.hide-first-tab {
  ol.pagination li:first-child {
    display: none;
  }
}
.pagination-tabbed-wrapper {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  z-index: 1;
  @media (max-width: $break-tablet) {
    display: none;
  }
}
.scroll-arrow {
  mix-blend-mode: difference;
}
//hide tabbed pagination on small viewport heights
@media screen and (max-height: 767px) {
  body.body-scrollify-tabs ol.pagination {
    display: none;
  }
  .scrollify-tabs-static {
    display: none;
  }
}