@import "webflow-breakpoints";

@media screen and (max-width: $break-tablet) {
  br {
    display: none;
  }
}

ol.pagination {
  position: fixed;
  right: 2rem;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9999;
  font-family: "Noe Display", serif;
  color: #e05638;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  counter-reset: item;
  list-style-type: none;

  &:hover {
    color: #e05638;
  }
  li {
    transition: all 300ms;
    transform: translate(50%, 0);

    &:before {
      content: counter(item) "  ";
      counter-increment: item;
    }

    a {
      text-decoration: none;
      transition: all 300ms;
      opacity: 0;
      &:before {
        content: "";
        display: inline-block;
        border-top: 1px solid #e05638;
        width: 3rem;
        margin: 0 1rem;
        transform: translate(0, -0.25rem);
      }
    }
    &.active {
      transform: translate(0, 0);
      a {
        opacity: 1;
      }
    }
  }
}
@media (max-width: $break-tablet) {
  ol.pagination {
    display: none;
    color: #fff;
  }
}
.scroll-arrow {
  mix-blend-mode: difference;
}
